---

# Update APT configuration
- name: add virtualbox repository
  apt_key: 
    url: https://www.virtualbox.org/download/oracle_vbox.asc
    state: present
  apt_repository: >
    repo="deb http://download.virtualbox.org/virtualbox/debian {{ansible_lsb.codename|lower}} contrib"
    state=present
  register: virtualbox_result
  sudo: yes
  when: ( ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian' )


# Download keys and package lists
- name: apt-get update
  apt: update_cache=yes cache_valid_time=0
  sudo: yes
  when: virtualbox_result.changed

- name: apt-get update
  apt: update_cache=true cache_valid_time=3600
  sudo: yes
